build/bin
node_modules
frontend/dist
.idea
*.jar
./opt
./logs
./runtime.dt
./runtime.dt-shm
./runtime.dtb
opt/env/corretto-1.8.0_412
opt/app
logs/app
./logs/catalina.log
/logs/catalina.log
/frontend/package.json.md5
/runtime.dt
/opt
/lib/webview2/
/.fastRequest/
